<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form method="post" action="ajouter" modelAttribute="lieu">
	
		<div class="mb-3">
			<label for="nom" class="form-label">code</label> 
			<input type="text" name="code" class="form-control" id="nom">
		</div>
		<div class="mb-3">
			<label for="marque" class="form-label">nom</label> 
			<input type="text" name="nom" class="form-control" id="prenom">
		</div>
		<div class="mb-3">
			<label for="marque" class="form-label">adresse</label> 
			<input type="text" name="adr" class="form-control" id="adr">
		</div>
		<div class="mb-3">
			<label for="fauteuil" class="form-label">nombre de fauteuils</label> 
			<input type="text" name="nbrFauteuil" class="form-control" id="fauteuil">
		</div>
		<button type="submit" class="btn btn-outline-success btn-sm">Valider</button>
		<button type="reset" class="btn btn-outline-secondary btn-sm">Annuler</button>
		</form>
</body>
</html>