<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Modification Chef d'Orchestre</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
</head>
<body>

<form method="post" action="/updateChefO" modelAttribute="chef">
	
		<div class="mb-3">
			<label for="id" class="form-label">Num</label> 
			<input type="text" name="id" class="form-control" id="nom" th:value="${chef.id}">
		</div>
		<div class="mb-3">
			<label for="nom" class="form-label">Nom</label> 
			<input type="text" name="nom" class="form-control" id="nom" th:value="${chef.nom}">
		</div>
		<div class="mb-3">
			<label for="prenom" class="form-label">Prenom</label> 
			<input type="text" name="prenom" class="form-control" id="prenom" th:value="${chef.prenom}">
		</div>
		<div class="mb-3">
			<label for="dateNaissance" class="form-label">Date de Naissance</label> 
			<input type="text" name="dateNaissance" class="form-control" id="dateNaissance" th:value="${chef.dateNaissance}">
		</div>
		<div class="mb-3">
			<label for="nationalite" class="form-label">Nationalite</label> 
			<input type="text" name="nationalite" class="form-control" id="nationalite" th:value="${chef.nationalite}">
		</div>
		<div class="mb-3">
			<label for="prix" class="form-label">Prix</label> 
			<input type="text" name="prix" class="form-control" id="prix" th:value="${chef.prix}">
		</div>
		<div class="mb-3">
			<label for="commentaires" class="form-label">Commentaires</label> 
			<input type="text" name="commentaires" class="form-control" id="commentaires" th:value="${chef.commentaires}">
		</div>
		
		<button type="submit" class="btn btn-outline-success btn-sm">Valider</button>
		<button type="reset" class="btn btn-outline-secondary btn-sm">Annuler</button>
		
		
	
	</form>

</body>
</html>