<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Modifier Soliste</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
	crossorigin="anonymous"></script>
</head>
<body>
<form method="post" action="updateSoliste" modelAttribute="soliste">
<div class="mb-3">
    <input type="hidden" name="Num" class="form-control" th:value="${soliste.Num}">
  </div>
<div class="mb-3">
    <label for="NumAffichage" class="form-label" th:text="Num"></label>
    <input type="number" disabled="disabled" class="form-control" id="NumAffichage" th:value="${soliste.Num}">
  </div>
  <div class="mb-3">
    <label for="Nom" class="form-label" th:text="Nom"></label>
    <input type="text" name="Nom" class="form-control" id="Nom" th:value="${soliste.Nom}">
  </div>
   <div class="mb-3">
    <label for="Prenom" class="form-label" th:text="Prenom"></label>
    <input type="text" name="Prenom" class="form-control" id="Prenom" th:value="${soliste.Prenom}">
  </div>
  <div class="mb-3">
    <label for="DateNaissance" class="form-label" th:text="DateNaissance"></label>
    <input type="text" name="DateNaissance" class="form-control" id="DateNaissance" th:value="${soliste.DateNaissance}">
  </div>
  <div class="mb-3">
    <label for="Nationalite" class="form-label" th:text="Nationalité"></label>
    <input type="text" name="Nationalite" class="form-control" id="Nationalite" th:value="${soliste.Nationalite}">
  </div>
  <button type="submit" class="btn btn-primary" th:text="Envoyer"></button>
   <button type="reset" class="btn btn-primary" th:text="Annuler"></button>
   

</form>
</body>
</html>